<ng-container *ngIf="!loading; else loadingSpinner">
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start" *ngIf="product.imageUrl">
        <img [src]="product.imageUrl" alt="{{ product.name }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Categoría: {{ product.categoryId }}</p>
        <p>Precio: {{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-container>

<ng-template #loadingSpinner>
  <ion-spinner></ion-spinner>
</ng-template>

